@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employees </h1>

<br />
<br />


<a asp-controller="Employee" asp-action="Create" class="btn btn-outline-info">Create New Employee</a>

<br />

@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover mt-4">
        <thead> 
            <tr> 
                <th>@Html.DisplayNameFor(E=>E.Name)</th>
                <th>@Html.DisplayNameFor(E => E.Email)</th>
                <th>@Html.DisplayNameFor(E => E.Age)</th>
                <th>@Html.DisplayNameFor(E => E.Salary)</th>
                <th>@Html.DisplayNameFor(E => E.gender)</th>
                <th>@Html.DisplayNameFor(E => E.Phone)</th>

            </tr>

        </thead>

        <tbody> 
            @foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Email</td>
                    <td>@employee.Age</td>
                    <td>@employee.Salary</td>
                    <td>@employee.gender</td>
                    <td>@employee.Phone</td>
                    <partial name="_ButtonsPartial" model="@employee.Id"/>
                 


                </tr>
            }
        </tbody>



    </table>

}
else
{
    <div class="mt-4 alert alert-warning ">
        <h3>There is No Department</h3>
    </div>
}